/* colors etc 
BG color of mainnav:
background-color: rgb(72, 71, 109);







*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

html {
	font-family: arial, sans-serif;
	font-size: 125%;
}


h1 {
	font-size: 52px;
	color: rgb(77, 77, 77);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
	margin-bottom: 2rem;
}
p {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.144);	
}



/*///////////////////////////////*/
/*//	Main Nav Bar 			 */
/*///////////////////////////////*/

.mainnav {
	background-color: rgb(72, 71, 109);
	box-shadow: inset 1px 1px 3px 4px rgba(0, 0, 0, 0.096);
	/* box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.1); */
}



.nav-ul {
	padding: 0.5rem 2rem;
	list-style: none;

	display: flex;
	align-items: center;
	gap: 2rem;


}

.nav-li {

}

.nav-li a:link,
.nav-li a:visited
 {
	text-decoration: none;
	padding: 0.4rem;
	color: hsl(242, 21%, 98%)	;
	font-weight: 800;
	letter-spacing: 0px;
	font-size: 0.9rem;
	cursor: pointer;
	text-shadow: 1px 1px 2px black;
	border-radius: 9px;
	box-shadow: 0 0px 0px 2px none);
	transition: all 0.2, ;
			
}

.nav-li a:hover,
.nav-li a:active {
	/* border-bottom: 3px solid hsl(242, 21%, 95%); */
	padding: 0.4rem;
	box-shadow: 0 0px 0px 2px hsl(242, 21%, 95%),  0px 0px 0px 3px hsla(0, 0%, 0%, 0.158);
	border-radius: 5px;
}

.logo.logo {
	font-weight: 800;
	letter-spacing: -1px;
	font-size: 1.4rem !important;
	box-shadow: none !important;
	padding: 0rem 0;
}


/*///////////////////////////////*/
/*//	Hero Section and FOrm			 */
/*///////////////////////////////*/
.hero-section {
	background-color: hsl(242, 21%, 96%);
}
.hero-title-text-div {
	max-width: 50rem;
	padding: 3rem 2rem;
	margin: 0rem auto;

	display: flex;
	flex-direction: column;
	align-items: center;

}

.formdiv {
	padding: 1rem 0;
	margin: 0rem 0;
}
.input1 {
	padding: 0.6rem 2rem;
	font-size: 1.2rem;
	border: 2px solid hsl(242, 21%, 55%);
	border-radius: 5px;
	margin-right: .5rem;
}
.input1:focus {
	outline: none;
	box-shadow: 0 0 0 4px rgb(135, 139, 173);
}

.formbtn {
	letter-spacing: 1px;
	font-weight: 600;
	text-shadow: 1px 1px 2px black;
	border-radius: 5px;
	background-color: hsl(242, 21%, 35%);
	color: white;
	font-size: 1.2rem;
	padding: 0.69rem 1.6rem;
	border: none;
	/* box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.384); */
}
.formbtn:hover {
	box-shadow: inset 0 0px 0px 2px hsl(242, 21%, 95%);
}

.result {
	font-size: 32px;
	color: rgb(66, 66, 66);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
	padding: 0.3rem 0.7rem;
	border-radius: 5px;

	

}

.colorwrong {
	background-color: rgb(204, 166, 166);
}
.colorright {
	background-color: rgb(116, 228, 135);
}

.resultdiv {
	height: 3rem;
	margin-bottom: 1rem;
}

.numberimgdiv {
	display: flex;
	align-items: center;
	gap: 10px;
}